// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
@import 'partials/header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { 
    color: unset;
    text-decoration: unset;
}

a:hover {
    text-decoration: unset;
}