// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
@import 'partials/header';

// Main
@import 'partials/main';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { 
    color: unset;
    text-decoration: unset;
}

a:hover {
    text-decoration: unset;
}

.fs-12 { font-size: 12px }