@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

header {
    padding: 15px 0;

    .logo { 
        font-family: 'Style Script';
        font-weight: bold;
        font-size: 32px; 
    }

}