@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

header {
    background-color: #ffffff;
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
    
    .logo { 
        font-family: 'Style Script';
        font-weight: bold;
        font-size: 30px; 
        margin: unset;
    }
    
    .search { 
        height: 28px;
        width: 200px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 3px;
        background-color: #fafafa;
        text-align: center;
    }

    .menu { 
        i { 
            font-size: 25px;
            margin-left: 25px;
        }
    }
}